@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/* Base font size for all screens */

body {
    background-color: #000000;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/* Media query for screens less than 600px wide */
@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
}

/* Media query for screens between 600px and 900px wide */
@media screen and (min-width: 600px) and (max-width: 900px) {
    body {
        font-size: 16px;
    }
}

/* Media query for screens wider than 900px */
@media screen and (min-width: 900px) {
    body {
        font-size: 18px;
    }
}

:root {
    --plyr-color-main: #cb2828;
    --plyr-range-thumb-background: linear-gradient(to right, #cb2828 50%, white 50%, white 50%, #cb2828 50%);
}


.btn {
    border: 1px solid transparent;
    border-radius: 0.25rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    transition: all 0.15s ease-in-out;
    vertical-align: middle;
    white-space: nowrap;
}

h1 {
    color: white;
    padding: 5%;
    text-align: center;
}

h2 {
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}

div.title {
    color: white;
    left: 50%;
    max-width: 60rem;
    position: absolute;
    transform: translateX(-50%);
    width: 80%;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}


a.main {
    background-color: black;
    border-radius: 4px;
    color: white;
    margin: auto;
    padding: 0.5em 2em;
    text-align: center;
    text-decoration: none;
}

div.description {
    margin-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

a.registration {
    background-color: black;
    border-radius: 4px;
    color: white;
    float: right;
    margin: 1em;
    padding: 0.5em 2em;
    text-align: center;
    text-decoration: none;
}

div.login {
    margin: auto;
    position: relative;
    text-align: center;
    top: -3em;
    width: 50%;
}

a.login {
    background-color: black;
    border-radius: 3em;
    color: white;
    font-size: 3em;
    margin: auto;
    padding: 0.5em 2em;
    text-align: center;
    text-decoration: none;
}

a.traceback {
    background-color: black;
    border-radius: 4px;
    color: white;
    float: left;
    margin: 1em;
    padding: 0.5em 2em;
    text-align: center;
    text-decoration: none;
}

a:hover {
    color: white;
}
