img {
    display: block;
    max-width: 100%;
}

input {
    appearance: none;
    border-radius: 0;
    color: white;
}

.card {
    background-color: black;
    border-color: #cb2828;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    max-width: 425px;
    padding: 0.75rem;
    width: 100%;
}

.card-image {
    background-image: url('../logo/logo.png');
    background-position: 0 5%;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
}

.card-heading small {
    display: block;
    font-size: 0.75em;
    font-weight: 400;
    margin-top: 0.25em;
}

.card-form {
    padding: 2rem 1rem 0;
}

a.main {
    background-color: white;
    border-radius: 4px;
    color: #000000;
    margin: auto;
    padding: 0.5em 2em;
    text-align: center;
    text-decoration: none;
}

.input {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 1.5rem;
    position: relative;
}

.input + .input {
    margin-top: 1.5rem;
}

.input-label {
    color: #8597a3;
    position: absolute;
    top: 1.5rem;
    transition: 0.25s ease;
}

.input-field {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #eee;
    font: inherit;
    font-size: 1.125rem;
    padding: 0.25rem 0;
    z-index: 1;
}

.input-field:focus, .input-field:valid, .input-field.not-empty {
    border-bottom-color: #cb2828;
    outline: 0;
}

.input-field:focus + .input-label, .input-field:valid + .input-label, .input-field.not-empty + .input-label {
    color: #cb2828;
    transform: translateY(-1.5rem);
}


.action {
    margin-top: 2rem;
}

.action-button {
    background-color: #cb2828;
    border: 0;
    border-radius: 6px;
    color: #FFF;
    font: inherit;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 1em;
    width: 100%;
}

.action-button:focus {
    outline: 0;
}

.card-info {
    color: #f6a2a2;
    font-size: 0.875rem;
    padding: 1rem 1rem;
    text-align: center;
}

.card-info a {
    color: #cb2828;
    display: block;
    text-decoration: none;
}

.error {
    color: #cb2828;
}