.video-container {
    height: 0;
    padding-bottom: 56.25%; /* 16:9 */
    position: relative;
}

.video-container video {
    /* override other styles to make responsive */
    height: fit-content;
    width: 100%;
}

.card {
    background-color: transparent;
    border: none;
}

.card-body {
    align-items: center;
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 0;
}

.card-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.card-text {
    color: #6c757d;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
}

.card-footer {
    align-items: center;
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.card-footer a {
    text-decoration: none;
}

.video-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 1rem;
}

.video-grid-item {
    background-color: #000;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 aspect ratio */
    position: relative;
    transition: all 0.1s ease-in-out;
}

.video-grid-item img {
    cursor: pointer;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
}

.video-grid-item:hover {
    height: 104%;
    left: -2%;
    outline: 2px solid #cb2828;
    outline-offset: 2px;
    top: -2%;
    width: 104%;
}

.video-grid-item .video-title {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    color: #fff;
    font-size: 0.9rem;
    left: 0;
    overflow: hidden;
    padding: 0.5em;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}