
.dropzone {
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border: 2px dashed #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
    padding: 20px;
}

.dropzone .dz-message {
    color: #ffffff;
    text-align: center;
}

progress {
    background-color: white;
    border-radius: 5px;
    display: none;
    height: 10px;
    overflow: hidden;
    position: relative; /* Add position relative to create a new stacking context */
    width: 35%;
}

progress::-webkit-progress-value {
    background-color: #cb2828;
    border-radius: 5px; /* Same border radius as the progress bar */
    transition: width 0.1s;
}

progress::-moz-progress-bar {
    background-color: #cb2828;
    border-radius: 5px; /* Same border radius as the progress bar */
    transition: width 0.1s;
}
