{% extends "base.html" %}

{% block content %}
    <h1>Introducing the KION Player Plus: A World of Accessible Entertainment for Everyone!</h1>
    <div class="title">
        <p>🎬 KION Player Plus is the ultimate solution for film and TV lovers with special needs. With our cutting-edge features, we've transformed
            the viewing experience to be more inclusive, customizable, and enjoyable for everyone.</p>
        <p>🌈 Discover a world where you can:</p>
        <ul>
            <li>Personalize brightness and contrast settings, tailoring the visuals to your individual preferences for a truly immersive experience.
            </li>
            <li>Adjust the color palette to accommodate unique needs, ensuring an optimal viewing experience for all.</li>
            <li>Enjoy worry-free entertainment with our revolutionary scene detection and deletion technology, which eliminates scenes that may
                trigger epileptic seizures.
            </li>
        </ul>
        <p>🌟 With KION Player Plus, everyone can experience the magic of cinema without limitations. Join us in embracing the future of accessible
            entertainment, and let your favorite movies and TV series come to life like never before!</p>
    </div>
{% endblock %}