{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2>Video Library</h2>
        <div class="video-grid">
            {% for video in videos %}
                <div class="video-grid-item">
                    <a href="{{ url_for('player', video_id=video.id) }}">
                        <video src="{{ url_for('static', filename='uploads/' + video.filename) }}" preload="none"></video>
                        <div class="video-title">{{ video.name }}</div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/library.js') }}"></script>
{% endblock %}
