{% extends "header.html" %}

{% block style %}
    <link rel="stylesheet" href="https://unpkg.com/plyr@3/dist/plyr.css">
    <link rel="stylesheet" href="/static/css/card.css">
    <link rel="stylesheet" href="/static/css/player.css">
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <!-- Name -->
        <h1 class="video-name">{{ video.name }}</h1>

        <!-- Dialogue window -->
        <div id="editModal" class="modal">
            <div class="modal-content">
                <button class="close-button">&times;</button>
                <form action="{{ url_for('edit_video_name', video_id=video.id) }}" method="POST" class="mb-4 form-container">
                    <label for="new_video_name">Edit Video Name:</label>
                    <input class="input-dialogue" type="text" id="new_video_name" name="new_video_name" value="{{ video.name }}" maxlength="18"
                           required><br>
                    <button type="submit" class="action-button small">Save</button>
                </form>
            </div>
        </div>

        <!-- Video -->
        <div class="video-card" id="video-holder">
            <video id="videoPlayer" data-video-id="{{ video.id }}"
                   style="filter:
                           brightness({{ video.video_settings.brightness }})
                           contrast({{ video.video_settings.contrast }})
                           saturate({{ video.video_settings.saturate }})
                           hue-rotate({{ video.video_settings.hueRotate }})
                           blur(0px)
                           "
                   width="50%" controls playsinline preload="metadata">
                <source src="{{ url_for('static', filename='user_data/video/' + video.video_filename ) }}" type="video/mp4">
                <source src="{{ url_for('static', filename='user_data/video/' + video.video_filename ) }}" type="video/x-msvideo">
                <source src="{{ url_for('static', filename='user_data/video/' + video.video_filename ) }}" type="video/x-ms-wmv">
                <source src="{{ url_for('static', filename='user_data/video/' + video.video_filename ) }}" type="video/quicktime">
                <source src="{{ url_for('static', filename='user_data/video/' + video.video_filename ) }}" type="video/x-matroska">
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="mt-4">
            <!-- Sliders -->
            <div class="slider-grid">
                <div class="slider-container">
                    <label class="slider-label" for="brightness">Brightness:</label>
                    <input class="slider" type="range" id="brightness" name="brightness" min="0" max="200"
                           value="{{ video_settings.brightness * 100 }}">
                </div>
                <div class="slider-container">
                    <label class="slider-label" for="contrast">Contrast:</label>
                    <input class="slider" type="range" id="contrast" name="contrast" min="0" max="200"
                           value="{{ video_settings.contrast * 100 }}">
                </div>
                <div class="slider-container">
                    <label class="slider-label" for="saturation">Saturation:</label>
                    <input class="slider" type="range" id="saturation" name="saturation" min="0" max="200"
                           value="{{ video_settings.saturate * 100 }}">
                </div>
                <div class="slider-container">
                    <label class="slider-label" for="hue-rotate">HUE:</label>
                    <input class="slider" type="range" id="hue-rotate" name="hue-rotate" min="0" max="360"
                           value="{{ video_settings.hueRotate }}">
                </div>
            </div>
            <!-- Buttons -->
            <div class="buttons-grid">
                <form class="button-handler" action="{{ url_for('delete_video', video_id=video.id) }}" method="POST">
                    <button type="submit" class="action-button small">
                        <span class="material-symbols-outlined">delete</span>
                    </button>
                </form>
                <div class="button-handler">
                    <button id="editButton" class="action-button small">
                        <span class="material-symbols-outlined">edit</span>
                    </button>
                </div>
                <input type="checkbox" id="blur-toggle" name="blur-toggle">
                <label for="blur-toggle">Toggle Blur</label>
            </div>
        </div>
    </div>
    <script src="https://cdn.plyr.io/3.7.8/plyr.polyfilled.js"></script>
    <script src="/static/js/dialogue-window.js"></script>
    <script src="/static/js/player.js"></script>
{% endblock %}