{% extends "header.html" %}

{% block style %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.css"
          integrity="sha384-KtuplUXgNMAf2GoyNzMW3kbEaMVG6f5tA2z8YL+zlU5g5U6a5K6xm5H6v5zX9KZg" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/static/css/upload.css">
    <link rel="stylesheet" href="/static/css/card.css">
    <link rel="stylesheet" href="/static/css/spinner.css"> <!-- Add spinner css -->
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Upload new video</h2>
        <form id="upload-form" method="POST" enctype="multipart/form-data" action="{{ url_for('upload') }}">
            <div id="dropzone" class="dropzone">
                <p style="color: lightgrey;">Drop files here or click to upload</p>
                <input type="file" id="file-input" name="video" style="display: none;" accept=".mp4, .avi, .wmv, .mov, .mkv">
                <span id="filename" style="display: none; color: lightgrey;"></span>
                <progress id="progress-bar" value="0" max="100"></progress>
            </div>
            <div class="action">
                <button type="submit" class="action-button" name="submit_button" value="Upload">Upload</button>
            </div>
            <div id="overlay" class="overlay" style="display:none;">
                <div id="spinner" class="spinner"></div>
            </div>
        </form>
    </div>
    <script src="/static/js/upload.js"></script>
    {#    <script src="/static/js/spinner.js"></script>#}
{% endblock %}
