{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2>Upload new video</h2>
        <form id="upload-form" method="POST" enctype="multipart/form-data" action="{{ url_for('upload') }}">
            <div id="dropzone" class="dropzone">
                <p style="color: lightgrey;">Drop files here or click to upload</p>
                <input type="file" id="file-input" name="video" style="display: none;" accept=".mp4, .avi, .wmv, .mov, .mkv">
                <span id="filename" style="display: none; color: lightgrey;"></span>
                <progress id="progress-bar" value="0" max="100"></progress>
            </div>
            <div class="action">
                <button type="submit" class="action-button" name="submit_button" value="Upload">Upload</button>
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
{% endblock %}
