{% extends "header.html" %}

{% block style %}
    <link rel="stylesheet" href="https://unpkg.com/plyr@3/dist/plyr.css">
    <link rel="stylesheet" href="/static/css/card.css">
    <link rel="stylesheet" href="/static/css/player.css">
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <!-- Name -->
        <h1 class="video-name">{{ videoname }}</h1>

        <!-- Video -->
        <div class="video-card" id="video-holder">
            <div class="video-div" id="videoPlayer" data-plyr-provider="youtube" data-plyr-embed-id="{{ youtube_id }}"></div>
        </div>

        <div class="mt-4">
            <!-- Sliders -->
            <div class="slider-grid">
                <div class="slider-container">
                    <label class="slider-label" for="brightness">Brightness:</label>
                    <input class="slider" type="range" id="brightness" name="brightness" min="0" max="200"
                           value="{{ user_settings.brightness * 100 }}">
                </div>
                <div class="slider-container">
                    <label class="slider-label" for="contrast">Contrast:</label>
                    <input class="slider" type="range" id="contrast" name="contrast" min="0" max="200"
                           value="{{ user_settings.contrast * 100 }}">
                </div>
                <div class="slider-container">
                    <label class="slider-label" for="saturation">Saturation:</label>
                    <input class="slider" type="range" id="saturation" name="saturation" min="0" max="200"
                           value="{{ user_settings.saturate * 100 }}">
                </div>
                <div class="slider-container">
                    <label class="slider-label" for="hue-rotate">HUE:</label>
                    <input class="slider" type="range" id="hue-rotate" name="hue-rotate" min="0" max="360"
                           value="{{ user_settings.hueRotate }}">
                </div>
            </div>
            <!-- Buttons -->
            <div class="buttons-grid">
                <div class="button-handler">
                    <button id="checkbox-epilepsy" class="action-button small">
                        <span class="material-symbols-outlined">bolt</span>
                    </button>
                </div>
                <div class="button-handler">
                    <button id="checkbox-clip" class="action-button small">
                        <span class="material-symbols-outlined">settings_accessibility</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.plyr.io/3.7.8/plyr.polyfilled.js"></script>
    <script src="/static/js/youtube_player.js"></script>
{% endblock %}